furbot/windows/Furbot_Data/sharedassets4.assets.resS filter=lfs diff=lfs merge=lfs -text
furbot/windows/Furbot_Data/resources.assets.resS filter=lfs diff=lfs merge=lfs -text
furbot/windows/Furbot_Data/sharedassets0.assets.resS filter=lfs diff=lfs merge=lfs -text
